<%- include("partials/header.ejs") %>
    <!-- hero -->
</div>
<div class="hero-top text-center">
    <h1 class="top-hero-header">Showcasing Homes,<br> One Shot at a Time</h1>
        <div class="col-lg-6 mx-auto">
                <a href="https://calendly.com/sparrowrephotography/book-photoshoot?month=2024-02"><button type="button" class="button-hero btn btn-blue btn-lg px-4">Book now</button></a>
        </div>
</div>


<div class="container-fluid p-5 m-6 theme-dark" id="services">
    <h2>Services</h2>
    <div class="row card-row justify-content-center">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card active card-services">
                <img class="card-img-top" src="img/starter.jpg" alt="pretty interior design">
                <div class="card-body">
                    <h5 class="card-title">Starter SnapShot Package</h5>
                    <p class="card-text text-body-secondary">ideal for businesses offering a limited number of property photos</p>
                    <a class="nav-link" href="/services/#list-starter-list"><button type="button" class="btn btn-primary">learn more</button></a>
                </div>
              </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card card-services">
                <img class="card-img-top" src="img/essential.jpg" alt="pretty interior design">
                <div class="card-body">
                  <h5 class="card-title">Essential Exposure Bundle</h5>
                  <p class="card-text text-body-secondary">for businesses providing a moderate number of property photos</p>
                  <a class="nav-link" href="/services#list-essential"><button type="button" class="btn btn-primary">learn more</button></a>
                </div>
              </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card card-services">
                <img class="card-img-top" src="img/premium.jpg" alt="pretty interior design">
                <div class="card-body">
                  <h5 class="card-title">Premier Portfolio Collection</h5>
                  <p class="card-text text-body-secondary">for businesses offering a comprehensive set of photos</p>
                  <a class="nav-link" href="/services#list-premium"><button type="button" class="btn btn-primary">learn more</button></a>
                </div>
              </div>
        </div>
      </div>
</div>

<div class="container-fluid theme-blue cta-banner text-center">
    <h2 class="hero-top-header">Ready to give it a shot?</h1>
    <br>
    <h6>Make every click count</h6>
    <a href="https://calendly.com/sparrowrephotography/book-photoshoot" target=”_blank”><button type="button" class="button-hero btn btn-secondary btn-lg px-4">Schedule now</button></a>
</div>

<div class="container-fluid p-5 m-6 theme-light" id="portfolio">
    <h2>Portfolio</h2>
    <div class="container text-center">

        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="img/carousel-4.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="img/carousel-3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="500">
                <img src="img/carousel-5.jpg" class="d-block w-100" alt="...">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>  
        <br>
        <a class="nav-link" href="/portfolio"><button type="button" class="btn btn-primary">see more</button></a>
    </div>
</div>

<div class="container-fluid p-5 m-6 theme-dark" id="about">
    <h2>Meet Jonathan</h2>
    <div class="container">
        <div class="row pt-5">
          <div class="col-sm-12 col-md-4 col-lg-4 text-align-left" style="padding: 0;">
            <img class="about-graphic img-fluid w-100" src="img/dude.jpg" alt="">
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8 px-5">
            <h3>Hi, I'm Jonathan!</h3>
            <br>
            <p class="about-text">I'm excited to welcome you to my world of real estate photography. As a passionate and enthusiastic young professional, I'm on a mission to redefine the way properties are portrayed in the real estate market.</p>
            <p class="about-text">I believe that real estate photography is not just about capturing spaces; it's about telling stories. Every property has its unique personality, and it's my job to bring that character to life through my lens. I'm here to showcase homes in their best light, turning ordinary listings into extraordinary opportunities.</p>
            <hr>
            <h3>Let's connect!</h3>
            <div class="justify-content-center" role="group" aria-label="Sparrow Photography Contacts">
                <a href="#">
                    <button type="button" class="button-hero btn btn-primary btn-lg px-4">Book Jonathan</button>
                </a>
                <a href="https://www.linkedin.com/in/jonathan-lopez-547143262/">
                    <button type="button" class="btn btn-info btn-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z" fill="#f8f8f8"/></svg>
                    </button>
                </a>

                <a href="https://www.instagram.com/sparrowrephotography">
                    <button type="button" class="btn btn-info btn-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z" fill="#f8f8f8"/></svg>
                    </button>
                </a>
                <a href="https://www.tiktok.com/@sparrowphotography_nola">
                    <button type="button" class="btn btn-info btn-lg">
                        <svg width="28px" height="28px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>Tiktok</title>
                            <g id="Icon/Social/tiktok-white" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <path d="M38.0766847,15.8542954 C36.0693906,15.7935177 34.2504839,14.8341149 32.8791434,13.5466056 C32.1316475,12.8317108 31.540171,11.9694126 31.1415066,11.0151329 C30.7426093,10.0603874 30.5453728,9.03391952 30.5619062,8 L24.9731521,8 L24.9731521,28.8295196 C24.9731521,32.3434487 22.8773693,34.4182737 20.2765028,34.4182737 C19.6505623,34.4320127 19.0283477,34.3209362 18.4461858,34.0908659 C17.8640239,33.8612612 17.3337909,33.5175528 16.8862248,33.0797671 C16.4386588,32.6422142 16.0833071,32.1196657 15.8404292,31.5426268 C15.5977841,30.9658208 15.4727358,30.3459348 15.4727358,29.7202272 C15.4727358,29.0940539 15.5977841,28.4746337 15.8404292,27.8978277 C16.0833071,27.3207888 16.4386588,26.7980074 16.8862248,26.3604545 C17.3337909,25.9229017 17.8640239,25.5791933 18.4461858,25.3491229 C19.0283477,25.1192854 19.6505623,25.0084418 20.2765028,25.0219479 C20.7939283,25.0263724 21.3069293,25.1167239 21.794781,25.2902081 L21.794781,19.5985278 C21.2957518,19.4900128 20.7869423,19.436221 20.2765028,19.4380839 C18.2431278,19.4392483 16.2560928,20.0426009 14.5659604,21.1729264 C12.875828,22.303019 11.5587449,23.9090873 10.7814424,25.7878401 C10.003907,27.666593 9.80084889,29.7339663 10.1981162,31.7275214 C10.5953834,33.7217752 11.5748126,35.5530237 13.0129853,36.9904978 C14.4509252,38.4277391 16.2828722,39.4064696 18.277126,39.8028054 C20.2711469,40.1991413 22.3382874,39.9951517 24.2163416,39.2169177 C26.0948616,38.4384508 27.7002312,37.1209021 28.8296253,35.4300711 C29.9592522,33.7397058 30.5619062,31.7522051 30.5619062,29.7188301 L30.5619062,18.8324027 C32.7275484,20.3418321 35.3149087,21.0404263 38.0766847,21.0867664 L38.0766847,15.8542954 Z" id="Fill-1" fill="#FFFFFF"></path>
                            </g>
                        </svg>
                    </button>
                </a>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- <div class="container-fluid p-5 m-6 theme-light" id="contact-us">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 py-5">
            <h2 class="contact-text text-center">Let's <br>talk</h2>
            <h4 class="text-center">We are just a click away</h4>
        </div>
        <div class="contact-form col-sm-12 col-md-12 col-lg-6">
            <form method="POST">
                <div id="form" class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <label for="firstname">First Name <b><span style="color: #9A1750;">*</span></b></label>
                            <input type="text" class="form-control" name="firstname" id="firstname" aria-describedby="firstname" required />
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <label for="lastname">Last Name <b><span style="color: #9A1750;">*</span></b></label>
                            <input type="text" class="form-control" name="lastname" id="lastname" aria-describedby="lastname" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <label for="InputCompanyName">Company Name<b><span style="color: #9A1750;">*</span></b></label>
                            <input type="text" class="form-control" name="companyname" id="companyname" aria-describedby="CompanyName" />
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <label for="InputPosition">Position<b><span style="color: #9A1750;">*</span></b></label>
                            <input type="text" class="form-control" name="position" id="position" aria-describedby="Position" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <label for="InputBusinessEmail">Business Email<b><span style="color: #9A1750;">*</span></b></label>
                            <input type="text" class="form-control" name="email" id="email" aria-describedby="BusinessEmail" required />
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <label for="InputPhoneNumber">Phone Number</label>
                            <input type="text" class="form-control" name="phone" id="phonenumber" aria-describedby="PhoneNumber"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                                <label for="FormControlTextarea">Message <b><span style="color: #9A1750;">*</span></b></label>
                                <textarea class="form-control" name="message" id="message" rows="5" required></textarea>
                        </div>
                    </div>
                
                <button type="submit" value="submit" class="btn btn-primary">Submit</button>
                
            </form>
        </div>
       
    </div>
</div>
</div> -->


<%- include("partials/footer.ejs") %>